.sidebar {
    position: absolute;
    width: 33.3333%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 3;
  }

  .dir-btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #a5ce91;
    color: #fff;
    background-color: #4e8435;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 12px;
    height: 25px;
    width: 80%;
    margin-top: 6%;
  }

  .dir-btn:hover {
    background: 0 0;
    color: #030302;
  }

  .pagination-bar {
    margin-top: 10%;
  }

  .side-heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    text-align: center;
    font-weight: 600;
    line-height: 60px;
    padding: 0 10px;
    background-color: #FFF4E2;
    color: #fff;
  }

  .desc_but {
    display: block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    margin-top: -3%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    text-decoration: none;
    padding: 0px 10px;
    float: right;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    transition: all 0.5s ease 0s;
  }

  .desc_but:hover {
    box-shadow: rgb(80 63 205 / 50%) 0px 1px 12px;
    transition: all 0.1s ease 0s;
  }

  .detail {
    background-color: #fff;
    font-size: medium;
    height: 200px;
    overflow-y: scroll;
  }

  .map {
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    top: 50px;
    height: auto;
    bottom: 0;
  }
  .listings {
    height: 34rem;
    overflow-y: scroll;
    padding-bottom: 60px;
    font-size: 20px;
  }

  .listings .item {
    display: block;
    padding: 12px;
    margin-bottom: 2%;
    text-decoration: none;
    box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(255,255,255,0.5) inset;
  }
  
  .listings .item:last-child {
    border-bottom: none;
  }
  .listings .item .place-name {
    display: block;
    color: #484842;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .listings .item .place-name small {
    font-weight: 400;
  }
  .listings .item.active .place-name,
  .listings .item .place-name:hover {
    color: #e47c3f;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #63796d;
    border-radius: 0;
  }
  
  .marker {
    border: none;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-image: url("../../images/landmarker.svg");
  }
  
  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }
  
  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 0;
    width: 180px;
    background: #e2f0b9;
    color: rgb(47, 58, 69);
    margin: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
    text-align: center;
  }
  
  .mapboxgl-popup-content div {
    padding: 10px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }
  
  .geocoder {
  position: absolute;
  z-index: 2;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  }
  
  .mile {
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 50%;
    margin-left: 25%;
    top: 10px;
    }
  
  
